* {
    margin: 0;
    box-sizing: border-box;
    background: gray;
    font-size: 62.5%;
}

header, footer {
    height: 100px;
}

section {
    width: 33.3333%;
    height: 200px;
    float: left;
}

footer {
    clear: both;
}

body * {
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    section {
        float: none;
        width: 100%;
        height: 25vh;
    }
    header, footer {
        height: 12.5vh;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    section {
        margin: 2rem 0;
    }
}

@media (min-width: 1000px) {
    footer {
        position: relative;
        top: 41vh;
    }
    section {
        position: relative;
        top: 20vh;
    }
}