* {
    box-sizing: border-box;
    background: lightgray;
    margin: 0;
}

header,
footer {
    height: 100px;
}

section {
    height: 200px;
    border: 1px solid black;
}

div section {
    float: left;
    height: 300px;
    width: 66.66%;
    border-right: 0;
    border-top: 0;
}

div section:first-of-type {
    width: 33.33%;
}

footer {
    clear: both;
}